# Python Bytecode
__pycache__/
*.pyc
*.pyo

# Virtual Environments
.venv/
venv/

# IDE-specific Files
.idea/
.vscode/

# Logs and Temporary Files
*.log
*.tmp

# Build Artifacts
dist/
build/

# Configuration Files
.env
*.env

# Operating System Files
.DS_Store
Thumbs.db

# GitHub-specific
*.gitattributes

.history/
.lh/